@charset "UTF-8";

div.box{
    height: 300px;
    width: 300px;
    border: solid 1px black;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.507);
    margin: 20px;
}
div#img1{
    background-image: url('imagens/wallpaper005.jpg');
}
div#img2{
    background-image: linear-gradient(to bottom, rgb(205, 226, 10), red);
}
div#img3{
    background-image: url('imagens/wallpaper001.jpg');
}