@charset "UFT-8";

body{
    background-image: linear-gradient(to right, blue,rgba(1, 1, 124, 0.664));
}
main{
    height: 300px;
    width: 300px;
    background-color:white;
    margin: auto;
}
h1{
    background-color: rgba(255, 0, 0, 0.247);
    height: 150px;
    width: 150px;
    margin: auto;
    padding-top: 30px;
}